
# Application configuration

PORT=3000
MAIN_FRONTEND_HOST=http://localhost:5173
NODE_ENV=development
COOKIE_DOMAIN=localhost

# Authentication configuration

CSRF_SECRET=your_csrf_secret_here
JWT_ACCESS_EXPIRES_IN=3600
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_EXPIRES_IN=864000
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

# Upload configuration

# Visit https://console.cloudinary.com/app/c-4f6dcd49c27427600e5a8405131951/settings/api-keys
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

# Database configuration

REDIS_SERVER_URL=http://localhost:6379

DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGADMIN_MAIL=your@
PGADMIN_PW=

# Email configuration

SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
SMTP_HOST=
SMTP_PASSWORD=
SMTP_USER=
SMTP_PORT=
SMTP_SECURE=false