version: '3'
services:
  # Database with postgresql
  postgres_db:
    image: postgres:15
    restart: unless-stopped
    hostname: postgres_db
    container_name: postgres_db
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=prisma
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d postgres']
      interval: 5s
      timeout: 2s
      retries: 20
    command: postgres -c listen_addresses='*'
    logging:
      options:
        max-size: '10m'
        max-file: '3'
    networks:
      - app-network

  # Backend
  server:
    build:
      context: .
      dockerfile: dockerfile.dev
    container_name: allinks-server
    ports:
      - '3000:3000'
    volumes:
      # Mount source code for hot reloading in development
      - .:/usr/src/app
      - /usr/src/app/node_modules
    stdin_open: true
    tty: true
    depends_on:
      postgres_db:
        condition: service_healthy
    env_file:
      - .env.development
    networks:
      - app-network

networks:
  app-network:
    name: app-network
