# Application settings

PORT=3000
NODE_ENV=development
CSRF_SECRET=2bdfe7c2f501880953b48876e9e494280184e36817269d18868769d944b4da21

## JWT
JWT_ACCESS_SECRET=xRtJMRFYvCxZWH/XlA4ft9MtPIQmrl6nS9V1F5L7Ehg=
JWT_REFRESH_SECRET=DEB3WojlhZyUIcHD5wvVGcpTKQgvT+QqDabBf7MUS18=
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800
COOKIE_DOMAIN=

# Database settings
DATABASE_URL=postgresql://postgres:prisma@postgres_db:5432/postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=devallinks
PGADMIN_MAIL=your@email.com
PGADMIN_PW=postgres

# EMAIL SETTINGS

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=
SMTP_SECURE=false

## Upload images
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# redis

REDIS_SERVER_URL=redis://redis:6379

# FRONTEND

MAIN_FRONTEND_HOST=http://localhost:5173